@media screen and (max-width: 480px){
	.responsive_mobile,
	.desktop_mobile{
		display: block;
		float: none;
		width: 85%;
	}

	.desktop_table, .responsive_table{
		display: none;
	}

	iframe{
		width:100%;
		height:500px;	
	}	
}

@media screen and (min-width: 480px) and (max-width: 760px){
	.desktop_mobile,
	.responsive_mobile{
		display: block;
		float: none;
		width:90%!important;
	}

	.desktop_table, .responsive_table{
		display: none;
	}

	iframe{
		width:100%;
		height:250px;	
	}
}
